In [1]:
import pandas as pd
data = pd.read_csv("/Users/zhaozihao/Desktop/å¹´.csv")

In [2]:
data.head()

,bookID,title,authors,average_rating,isbn,isbn13,language_code,num_pages,ratings_count,text_reviews_count,year,publisher
0,8253,Little Town on the Prairie (Little House #7),Laura Ingalls Wilder/Garth Williams,4.19,60885432,9.780000e+12,eng,374,71853,646,2007,HarperTrophy
1,11101,First Comes Love (Hot Water California #1),Christie Ridgway,3.81,380818957,9.780000e+12,en-US,384,1051,47,2002,Avon Books
2,28193,When Santa Fell to Earth,Cornelia Funke/Paul Howard/Oliver G. Latsch,3.76,043978204X,9.780000e+12,eng,167,1840,245,2006,Chicken House / Scholastic
3,25047,The Case of the Stinky Science Project (Jigsaw...,James Preller/John Speirs/James Preller,3.83,439114284,9.780000e+12,en-US,80,162,11,2001,Scholastic Paperbacks
4,17800,Dance Dance Dance,Haruki Murakami,4.04,99448769,9.780000e+12,eng,393,50169,2117,2002,Vintage

In [3]:
data.average_rating.value_counts()

4.00    199
3.96    183
4.02    164
3.94    160
3.92    155
       ...
2.92      1
2.77      1
2.93      1
2.89      1
4.88      1
Name: average_rating, Length: 204, dtype: int64

In [4]:
data.describe()

,bookID,average_rating,isbn13,num_pages,ratings_count,text_reviews_count,year
count,10000.000000,10000.000000,1.000000e+04,10000.000000,1.000000e+04,10000.000000,10000.000000
mean,21266.538300,3.935645,9.762579e+12,336.340000,1.874233e+04,555.690600,2000.189100
std,13081.040856,0.345856,4.034836e+11,234.721368,1.178498e+05,2672.388675,8.172504
min,1.000000,0.000000,8.987060e+09,0.000000,0.000000e+00,0.000000,1900.000000
25%,10230.000000,3.780000,9.780000e+12,194.000000,1.060000e+02,9.000000,1998.000000
50%,20261.000000,3.960000,9.780000e+12,300.000000,7.440000e+02,47.000000,2003.000000
75%,31986.750000,4.130000,9.780000e+12,416.000000,5.005500e+03,241.000000,2005.000000
max,45641.000000,5.000000,9.790000e+12,4736.000000,4.597666e+06,94265.000000,2020.000000

In [6]:
feature = data[["isbn13","num_pages","ratings_count","text_reviews_count","year"]]
target = data[["average_rating"]]

In [9]:
from sklearn import tree
model = tree.DecisionTreeClassifier()
model = model.fit(feature,target.astype(int))

In [10]:
import graphviz
dot_data = tree.export_graphviz(model,out_file=None)
graph = graphviz.Source(dot_data)
graph.render("trainç»æ")

'trainç»æ.pdf'